{% extends "admin/templates/base.html" %}


{% block content_root %}

    {% include 'admin/partials/sidebar.html' %}
    {% include 'admin/partials/header.html' %}

    <v-content>
        <v-container fluid class="pa-5">
            <v-row>
                <v-col cols="{% block content_cols %}9{% endblock %}">
                    {% block content %}
                        {% block object-tools %}{% endblock %}
                        {{ content }}
                    {% endblock %}
                </v-col>
                <v-col cols="{% block sidebar_cols %}3{% endblock %}">
                    {% block sidebar %}
                        {{ sidebar }}
                    {% endblock %}
                </v-col>
            </v-row>


        </v-container>
    </v-content>
    {% include 'admin/partials/footer.html' %}

{% endblock %}
