{% load i18n static %}

<v-app-bar app
           clipped-left
           color="primary"
           dense dark>
    <v-toolbar-title>
        <span class="title">Titanic</span>
    </v-toolbar-title>
    <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
    </v-btn>

    <v-spacer></v-spacer>
    {% if has_permission %}
        {% trans 'Welcome, ' %} {% firstof user.get_short_name user.get_username %}

        <v-menu offset-y>
            <template v-slot:activator="{ on }">
                <v-btn icon v-on="on">
                    <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
            </template>
            <v-list>
                {% block userlinks %}
                    {% if site_url %}
                        <v-list-item href="{{ site_url }}">
                            <v-list-item-title>
                                {% trans 'View site' %}
                            </v-list-item-title>
                        </v-list-item>
                    {% endif %}

                    {% if user.has_usable_password %}
                        <v-list-item href="{% url 'admin:password_change' %}">
                            <v-list-item-title>
                                {% trans 'Change password' %}
                            </v-list-item-title>
                        </v-list-item>
                    {% endif %}

                    {% if user.is_active and user.is_staff %}
                        {% url 'django-admindocs-docroot' as docsroot %}
                        {% if docsroot %}
                            <v-list-item href="{{ docsroot }}">
                                <v-list-item-title>
                                    {% trans 'Documentation' %}
                                </v-list-item-title>
                            </v-list-item>
                        {% endif %}
                    {% endif %}

                    <v-list-item href="{% url 'admin:logout' %}">
                        <v-list-item-title>
                            {% trans 'Log out' %}
                        </v-list-item-title>
                    </v-list-item>

                {% endblock %}
            </v-list>
        </v-menu>
    {% endif %}

</v-app-bar>
