{% load i18n static %}
<v-navigation-drawer v-model="sideBar"
                     app
                     clipped
                     :mini-variant.sync="miniSideBar"
>
    <v-list dense>

        {% if app_list %}
            {% for app in app_list %}
                <v-list-group
                        prepend-icon="mdi-home"
                >
                    <template v-slot:activator>
                        <v-list-item-title>{% trans app.name %}</v-list-item-title>
                    </template>
                    {% for model in app.models %}
                        {% if model.admin_url %}
                            <v-list-item class="ml-5" link href="{{ model.admin_url }}">
                                <v-list-item-content>
                                    <v-list-item-title>{% trans model.name %}</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        {% endif %}
                    {% endfor %}
                </v-list-group>
            {% endfor %}
        {% endif %}
    </v-list>
</v-navigation-drawer>

