{% extends "admin/templates/base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% block title %} {% trans 'Login' %} {% endblock %}

{% block content_root %}
    <v-content
            style="background-image: url({% static "admin/images/backgrounds/auth-bg.jpg" %}); background-position: 50%; background-repeat: no-repeat; background-size: cover  ">
        <v-container class="fill-height" fluid>
            <v-row align="center" justify="center">
                <v-col lg="6" md="8">
                    <v-card raised>
                        <v-row>
                            <v-col align="center" justify="center"
                                   style="background-color: #eff2f7;"
                                   lg="6" cols="12"
                                   class="pt-12"
                            >
                                <img style="max-width: 100%" src="{% static "admin/images/pages/login.png" %}">
                            </v-col>
                            <v-col lg="6">
                                <v-card-title>
                                    {% trans 'Login' %}
                                </v-card-title>
                                <v-card-subtitle>
                                    {% trans 'Welcome back, please login to your account.' %}
                                </v-card-subtitle>

                                <form action="{{ app_path }}" method="post" id="login-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ next }}">
                                    <v-card-text>
                                        {% if user.is_authenticated %}
                                            <v-alert border="left" type="info">
                                                {% blocktrans trimmed %}
                                                    You are authenticated as {{ username }}, but are not authorized
                                                    to
                                                    access this page. Would you like to login to a different
                                                    account?
                                                {% endblocktrans %}
                                            </v-alert>
                                        {% endif %}
                                        {% if form.non_field_errors %}
                                            <v-alert border="left" type="error">
                                                <ul>
                                                    {% for error in form.non_field_errors %}
                                                        <li>
                                                            {{ error }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </v-alert>

                                        {% endif %}
                                        {% if form.errors and not form.non_field_errors %}
                                            <v-alert border="left" type="warning">
                                                {% if form.errors.items|length == 1 %}
                                                    {% trans "Please correct the error below." %}{% else %}
                                                    {% trans "Please correct the errors below." %}{% endif %}
                                            </v-alert>
                                        {% endif %}
                                        {% for filed in form %}
                                            <v-text-field
                                                    outlined
                                                    type="{{ filed.name }}"
                                                    name="{{ filed.name }}"
                                                    {% if filed.value %} value="{{ filed.value }}" {% endif %}
                                                    label="{{ filed.label }}"
                                                    placeholder="{{ filed.placeholer }}"
                                                    required
                                            ></v-text-field>
                                        {% endfor %}

                                    </v-card-text>

                                    <v-card-actions>
                                        <v-btn text type="submit">
                                            {% trans 'Log in' %}
                                        </v-btn>
                                        {% url 'admin_password_reset' as password_reset_url %}
                                        {% if password_reset_url %}
                                            <v-btn href="{{ password_reset_url }}">
                                                {% trans 'Forgotten your password or username?' %}
                                            </v-btn>
                                        {% endif %}
                                    </v-card-actions>
                                </form>
                            </v-col>
                        </v-row>
                    </v-card>

                </v-col>
            </v-row>
        </v-container>
    </v-content>

{% endblock %}
